<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joshua Gen Conference Registration</title>
    <link rel="stylesheet" href="/style.css">


</head>
<body>
    <div class="heroSection">
        <span>Welcome to our miniWeb By JuTeLabs</span>
    </div>
    <div class="container">
        <h1 style="text-align: center; color: #00470F;">Joshua Generation Youth Conference Registration Noter</h1>
        <form action="/submit" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="church">Church:</label>
            <input type="text" id="church" name="church" required><br><br>
            <label for="parish">Parish:</label>
            <input type="text" id="parish" name="parish" required><br><br>
            <button class="button1" type="submit">Submit Your Details</button>
        </form>
    </div>
    
</body>
</html>
