<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1 style="text-align: center; color: #00470F;">Registered Users</h1>
        <table>
            <thead>
                <tr>
                    <th>S/N</th> <!-- Add a new column for numbers -->
                    <th>Name</th>
                    <th>Church</th>
                    <th>Parish</th>
                </tr>
            </thead>
            <tbody>
                <% let count = 1; %> <!-- Initialize a counter variable -->
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= count++ %></td> <!-- Increment the counter for each row -->
                        <td><%= user.name %></td>
                        <td><%= user.church %></td>
                        <td><%= user.parish %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/">Go To Home</a>
    </div>
</body>
</html>
