<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="heroSection">
        <span>Joshua Generation mba5DetailsTaker</span>
    </div>
    <div class="container">
        <h1 style="text-align: center; color: #00470F;">Jehovah Bu Onye Nazum Dika Aturu, Odighi Ihe Korom</h1>
        <p>Details Recoreded Successfully</p>
        <div class="buttonContainer">
           <div class="button2"><a href="/">Go to Home</a></div>
           <div class="button3"><a href="/registeredUsers">See those that registered</a></div>
        </div>
       
    </div>
</body>
</html>
